
body{
    background-color: rgb(245, 248, 250);
    padding: 3%;
}

a:link{
    text-decoration: none;
}

h2{
    color:rgb(17, 44, 165);
    text-align:center;
}

.fondo{
    width: 800px;
    height:800px;
    display:block;
    margin: auto;
}

.img{
    width: 600px;
    height:600px;
    display:block;
    margin: auto;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    font-family: arial;
    font-size: 20px;
  }

  ol {
    list-style-type: square;
    list-style-position: inside;
    font-family: arial;
    font-size: 18px;
    line-height: 220%;
  }

  .Ingredientes{
    background-color: blue;
    color:white;
    text-align:left;
    padding: 5px;
    border: 20px;
    margin: 20px;
    border-radius: 8px;
  }

  .Elaboracion{
    background-color: blue;
    color:white;
    text-align:left;
    padding: 5px;
    border: 20px;
    margin: 20px;
    border-radius: 8px;
  }

  .lista{
    line-height: 20%;
  }